<%- include('./includes/header')%>

<h1><%= pageTitle %></h1>
<form action="" method="post">
    <label>Title</label>
    <br>
    <input type="text" name="title">
    <br>
    <label>Post</label>
    <br>
    <textarea rows="5" cols="60" name="post" placeholder=""></textarea>
    <br>
    <button>Publish</button>
</form>

<%- include('./includes/footer')%>